.mcq {
    /* background-color: #000; */
    /* color: #fff; */
    border: 1px solid #888;
    border-radius: 4px;
    padding: 16px;
}

.mcq button {
    margin-top: 16px;
    padding: 8px 16px;
    width: 100%;
    /* color: #fff; */
    /* background-color: #17161b; */
    border: solid 1px #454546;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.optionsContainer {
    margin-top: 16px;
}

.option {
    display: flex;
    border-width: 2px;
    align-items: center;
    margin-bottom: 8px;
}

.output-container {
    margin-top: 16px;
    border: 1px solid #888;
    border-radius: 4px;
    padding: 16px;
    white-space: pre-wrap;
}

.option.correct {
    /* background-color: #006900; */
    border-color: #00ff00;
    border-width: 2px;
    /* color: #fff; */
}

.option.incorrect {
    border-width: 2px;
    /* background-color: #690000; */
    border-color: #ff0000;
    /* color: #fff; */
}